<!DOCTYPE html>
<html>
  <head>
    <title>Miles Away</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>
  <body>
 <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
        </div>
        <ul class="nav navbar-nav">
          <li {% if active_Page == "milesToKilos" %} class = "active" {% endif %}><a href="milesToKilos">milesToKilos</a></li>
          <li {% if active_Page == "kilosToMiles" %} class = "active" {% endif %}><a href="kilosToMiles">kilosToMiles</a></li> 
          <li {% if active_Page == "metersToMiles" %} class = "active" {% endif %}><a href="metersToMiles">metersToMiles</a></li>
          </ul>
      </div>
    </nav>
    <div class="life">
    <form action='/response'>
      
      {% block asking %}{% endblock %}
      <br>
      <input type="text" name="length">
      <br><br>
      <input type="submit">
    </form>
    apage =  {% active_Page %}
  </body>
</html>
